.next/

node_modules/
node/server/fableImports

fable/.ionide/
fable/server/.ionide/

fable/server/src/Main/obj/
fable/server/src/Main/bin/
fable/server/public/

microservices/RandomNumberMicroservice/bin/
microservices/RandomNumberMicroservice/obj/
microservices/RandomNumberMicroservice/.ionide/symbolCache.db

backend/.ionide/
backend/bin/
backend/obj/
